.header {
    text-align: center;
    color: white;
    height: min-content;
    border-width: 1px;
    border-color: black;
  }
  
  .header ul {
    list-style-type: none;
  }
  
  .header li {
    display: inline;
    margin: 0 15px;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  .Navigationbtn{
    font-size: 12px;
  }
  .Navigationbtn:hover{
    font-weight: bold;
  }